<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bazaarvoice>
            <general>
                <deployment_zone>main_site</deployment_zone>
                <families>1</families>
                <debug>0</debug>
            </general>
            <rr>
                <enable_rr>1</enable_rr>
                <inline_ratings>category,search</inline_ratings>
                <container>1</container>
            </rr>
            <qa>
                <enable_qa>1</enable_qa>
            </qa>
            <feeds>
                <limit>1</limit>
                <triggering_event>purchase</triggering_event>
                <lookback>30</lookback>
                <generation_scope>website</generation_scope>
                <product_filename>productfeed.xml</product_filename>
                <product_path>/import-inbox</product_path>
                <bvfamilies_expand>1</bvfamilies_expand>
                <bvfamilies_inherit>1</bvfamilies_inherit>
                <category_id_use_url_path>0</category_id_use_url_path>
            </feeds>
        </bazaarvoice>
    </default>
</config>
