<?xml version="1.0"?>
<!--
  ~ Copyright © Bazaarvoice, Inc. All rights reserved.
  ~ See LICENSE.md for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="bazaarvoice" translate="label" type="text" sortOrder="1800" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Bazaarvoice Connector</label>
            <tab>general</tab>
            <!-- resource tag name which we have defined in the acl.xml -->
            <resource>Bazaarvoice_Connector::config_bazaarvoice</resource>
            <group id="general" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="version" translate="label" type="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Bazaarvoice Extension Version</label>
                    <backend_model>Bazaarvoice\Connector\Model\Config\Version</backend_model>
                </field>
                <field id="enable_bv" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Bazaarvoice Extension</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Enable all Bazaarvoice Magento extension features at this Magento Scope]]></comment>
                </field>
                <field id="environment" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Environment</label>
                    <source_model>Bazaarvoice\Connector\Model\Source\Environment</source_model>
                </field>
                <field id="client_name" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Name</label>
                    <comment><![CDATA[Client Name as defined in your BV platform account]]></comment>
                </field>
                <field id="deployment_zone" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Deployment Zone</label>
                    <comment><![CDATA[Default is "main_site". If using "Deployment Zones", enter the Deployment Zone Id defined in the Bazaarvoice Configuration Hub.]]></comment>
                </field>
                <field id="locale" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Locale</label>
                    <comment><![CDATA[The BV locale for this Magento Configuration Scope.  For example: "en_US".  The locale must be enabled within your BV platform account.]]></comment>
                </field>
                <field id="enable_cloud_seo" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Cloud SEO</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Turn on the BV SEO solution.  This will include SEO-friendly content (located in the BV SEO cloud) in your product pages.  See documentation for additional steps that must be completed for this feature to take effect.]]></comment>
                </field>
                <field id="cloud_seo_key" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cloud SEO Key</label>
                    <comment><![CDATA[SEO Cloud key value as defined in your BV platform account.  This key is only required if Cloud SEO is enabled.]]></comment>
                    <depends>
                        <field id="enable_cloud_seo">1</field>
                    </depends>
                </field>
                <field id="enable_bvpixel" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable BV Pixel</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Turn on the BV Pixel on the purchase transaction (checkout) page.  See documentation for additional steps that must be completed for this feature to take effect.]]></comment>
                </field>
                <field id="families" translate="label" type="select" sortOrder="35" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable BV Product Families</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[BV Product Families will be defined for visible Configurable and Simple product combinations]]></comment>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="500" showInStore="0" showInWebsite="0" showInDefault="1">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Debug information can be found at bazaarvoice.log See documentation on how to use the bazaarvoice.log file to troubleshoot your implementation.]]></comment>
                </field>
            </group>
            <group id="rr" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Ratings and Reviews</label>
                <field id="enable_rr" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Ratings &amp; Reviews</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Turn on BV Ratings &amp; Reviews. This will enable display of R&amp;R content on your product pages.  See documentation for additional steps that must be completed for this feature to take effect.]]></comment>
                </field>
                <field id="container" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Submission Container Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[The submission container page is used to collect reviews on mobile sites and to redirect users to the proper product page to see reviews. <strong>You must add these two paths into the Bazaarvoice Configuration Hub - STAGING URL: {staging site url}/bazaarvoice/submission/container PRODUCTION URL: {domain}/bazaarvoice/submission/container</strong>]]></comment>
                </field>
                <field id="do_show_content_js" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Hidden Content for Reviews (BV.reviews.on)</label>
                    <comment><![CDATA[Some user actions cause Bazaarvoice features to come into view, such as clicking the ★★★★★ icons in the rating summary, which scrolls to ratings and reviews. If this content is hidden behind a tab, however, you must add custom, page-specific code that calls the bvCallback function to show the correct tab or container. See your Bazaarvoice Implementation manual for further information.]]></comment>
                </field>
                <field id="children" translate="label" type="select" sortOrder="25" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Filter Reviews on Configurable Product Selection</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If this feature is enabled, Bazaarvoice Content will display the entire Family unless a Configurable Child Product is selected. If a Child is selected, Reviews, Questions, and Summary will display only for its SKU.]]></comment>
                </field>
                <field id="inline_ratings" translate="label" type="multiselect" sortOrder="30" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Enable Hosted Inline Ratings</label>
                    <can_be_empty>1</can_be_empty>
                    <source_model>Bazaarvoice\Connector\Model\Source\ProductList</source_model>
                    <comment><![CDATA[This places a simple 1-5 out of 5 star rating wherever products are found on the site. Choose which pages you’d like this functionality to be seen. See Documentation on defining where stars can be added across the site.]]></comment>
                </field>
            </group>
            <group id="qa" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Questions and Answers</label>
                <field id="enable_qa" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Questions &amp; Answers</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Turn on BV Questions &amp; Answers. This will enable display of Q&amp;A content on your product pages.  See documentation for additional steps that must be completed for this feature to take effect.]]></comment>
                </field>
                <field id="do_show_content_js" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Hidden Content for Questions (BV.questions.on)</label>
                    <comment><![CDATA[Some user actions cause Bazaarvoice features to come into view, such as clicking the ★★★★★ icons in the rating summary, which scrolls to ratings and reviews. If this content is hidden behind a tab, however, you must add custom, page-specific code that calls the bvCallback function to show the correct tab or container. See your Bazaarvoice Implementation manual for further information.]]></comment>
                </field>
            </group>
            <group id="feeds" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Feeds</label>
                <field id="enable_dcc" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Dynamic Catalog Collection (DCC)</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Turn on Dynamic Catalog Collection (DCC). This sends product data to Bazaarvoice when each product detail page is visited. Either this or the Product Feed should be enabled, but not both.]]></comment>
                </field>
                <field id="enable_product_feed" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Product Feed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Turn on Product Feed generation. This will enable generation of a product feed to be sent to the BV SFTP server. See documentation for additional steps to setup a scheduled job in Magento for this feature to take effect. Either this or DCC should be enabled, but not both.]]></comment>
                </field>
                <field id="generation_scope" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Feed Generation Scope</label>
                    <source_model>Bazaarvoice\Connector\Model\Source\Scope</source_model>
                    <comment><![CDATA[This determines whether separate feed files will be generated and sent to BV for each website, store or store view. Also used to determine the product and category prefixes, if they are enabled.]]></comment>
                </field>
                <field id="enable_product_prefix" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Product Prefix</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If enabled, prefixes product ID and product name with the website/store group/store view code, depending on Feed Generation Scope. Should only be enabled for some Bazaarvoice accounts that are using multiple catalog sources.</strong>]]></comment>
                </field>
                <field id="enable_category_prefix" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Category Prefix</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If enabled, prefixes category ID and category name with the website/store group/store view code, depending on Feed Generation Scope. Should only be enabled for some Bazaarvoice accounts that are using multiple catalog sources.</strong>]]></comment>
                </field>
                <field id="limit" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cronjob Frequency (Minutes)</label>
                    <comment><![CDATA[This should be set to match the frequency you are running the system level Magento cron.  The extension will populate the Bazaarvoice Product Feed Index for this many minutes in batches of 50 products.]]></comment>
                    <depends>
                        <field id="enable_product_feed">1</field>
                    </depends>
                </field>
                <field id="sftp_username" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SFTP Username</label>
                    <comment><![CDATA[SFTP Connection Username. If this is left blank, the above Client Name will be used.]]></comment>
                </field>
                <field id="sftp_password" translate="label" type="obscure" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SFTP Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment><![CDATA[Password used to access the BV SFTP server for feed upload/download processes. <strong>Note: this field is encrypted in v8.3.0+. If you recently upgraded and are experiencing connectivity issues, please try re-entering your password.</strong>]]></comment>
                </field>
                <field id="sftp_host_name" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SFTP Host Name</label>
                    <source_model>Bazaarvoice\Connector\Model\Source\SftpHost</source_model>
                    <comment><![CDATA[SFTP Connection Host. ]]></comment>
                </field>
                <field id="bv_sftp_test_connect_wizard" type="button" translate="button_label" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label/>
                    <button_label>Test Connection</button_label>
                    <frontend_model>Bazaarvoice\Connector\Block\Adminhtml\System\Config\Sftp\TestConnection</frontend_model>
                </field>
                <field id="product_filename" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Feed Filename</label>
                    <comment><![CDATA[If blank 'productfeed.xml' will be used.]]></comment>
                    <backend_model>Bazaarvoice\Connector\Model\Backend\Remote</backend_model>
                    <depends>
                        <field id="enable_product_feed">1</field>
                    </depends>
                </field>
                <field id="product_path" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Feed Export Path</label>
                    <comment><![CDATA[If blank '/import-inbox' will be used.]]></comment>
                    <backend_model>Bazaarvoice\Connector\Model\Backend\Remote</backend_model>
                    <depends>
                        <field id="enable_product_feed">1</field>
                    </depends>
                </field>
                <field id="brand_code" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Brand Attribute</label>
                    <source_model>Bazaarvoice\Connector\Model\Source\ProductAttribute</source_model>
                    <comment><![CDATA[This attribute code will be used to locate the brand of products which are sent in the product feed. <strong>Attribute must be set to 'Use in Product Listing.'</strong>]]></comment>
                </field>
                <field id="upc_code" translate="label" type="select" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>UPC Attribute</label>
                    <source_model>Bazaarvoice\Connector\Model\Source\ProductAttribute</source_model>
                    <comment><![CDATA[This attribute code will be used to locate the UPC of products which are sent in the product feed. <strong>Attribute must be set to 'Use in Product Listing.'</strong>]]></comment>
                </field>
                <field id="ean_code" translate="label" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>EAN Attribute</label>
                    <source_model>Bazaarvoice\Connector\Model\Source\ProductAttribute</source_model>
                    <comment><![CDATA[This attribute code will be used to locate the EAN of products which are sent in the product feed. <strong>Attribute must be set to 'Use in Product Listing.'</strong>]]></comment>
                </field>
                <field id="manufacturerpartnumber_code" translate="label" type="select" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Manufacturer Part Number Attribute</label>
                    <source_model>Bazaarvoice\Connector\Model\Source\ProductAttribute</source_model>
                    <comment><![CDATA[This attribute code will be used to locate the Manufacturer Part Number of products which are sent in the product feed. <strong>Attribute must be set to 'Use in Product Listing.'</strong>]]></comment>
                </field>
                <field id="isbn_code" translate="label" type="select" sortOrder="165" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>ISBN Attribute</label>
                    <source_model>Bazaarvoice\Connector\Model\Source\ProductAttribute</source_model>
                    <comment><![CDATA[This attribute code will be used to locate the ISBN of products which are sent in the product feed. <strong>Attribute must be set to 'Use in Product Listing.'</strong>]]></comment>
                </field>
                <field id="modelnumber_code" translate="label" type="select" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Model Number Attribute</label>
                    <source_model>Bazaarvoice\Connector\Model\Source\ProductAttribute</source_model>
                    <comment><![CDATA[This attribute code will be used to locate the Model Number of products which are sent in the product feed. <strong>Attribute must be set to 'Use in Product Listing.'</strong>]]></comment>
                </field>
                <field id="bvfamilies_code" translate="label" type="multiselect" sortOrder="173" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Family Attributes</label>
                    <can_be_empty>1</can_be_empty>
                    <source_model>Bazaarvoice\Connector\Model\Source\ProductAttribute</source_model>
                    <comment><![CDATA[If set, these attribute code(s) will be used in addition to the configurable product SKU to populate family data. <strong>Attribute must be set to 'Use in Product Listing' to display.</strong>]]></comment>
                </field>
                <field id="bvfamilies_expand" translate="label" type="select" sortOrder="175" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Expand Families in DCC/Product Feed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Yes (Default) Setting to determine whether simple products show reviews and ratings for their entire product family.]]></comment>
                </field>
                <field id="bvfamilies_inherit" translate="label" type="select" sortOrder="178" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Aggregate Custom Attributes</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Product Family Syndication: Please <strong>carefully read the documentation before enabling.</strong> This setting affects how reviews will display on syndicated sites and should only be used under certain circumstances.]]></comment>
                </field>
                <field id="category_id_use_url_path" translate="label" type="select" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use category URL path as category id</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[No (Default) If true, use Magento category URL path as category id, otherwise use Mage category entity primary key.]]></comment>
                    <depends>
                        <field id="enable_product_feed">1</field>
                    </depends>
                </field>
                <field id="run_product" translate="button_label" type="button" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label/>
                    <button_label><![CDATA[Run Enabled Bazaarvoice Product Feeds Now]]></button_label>
                    <button_url>*/bvfeed/runproduct</button_url>
                    <frontend_model>Bazaarvoice\Connector\Block\System\Config\Button</frontend_model>
                    <depends>
                        <field id="enable_product_feed">1</field>
                    </depends>
                </field>
                <field id="run_product_force" translate="button_label" type="button" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label/>
                    <button_label><![CDATA[Force Run All Bazaarvoice Product Feeds Now]]></button_label>
                    <button_url>*/bvfeed/runproduct/force/1</button_url>
                    <frontend_model>Bazaarvoice\Connector\Block\System\Config\Button</frontend_model>
                    <depends>
                        <field id="enable_product_feed">1</field>
                    </depends>
                </field>
                <field id="enable_purchase_feed" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Purchase Feed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Turn on Purchase Feed generation. This will enable generation of a purchase feed to be sent to the BV SFTP server to be used to send post-interaction emails to your customers in order to solicit review submission.  See documentation for additional steps to setup a scheduled job for this feature to take effect. <strong>WARNING Do not enable in production until emails have been tested</strong>]]></comment>
                </field>
                <field id="lookback" translate="label" type="text" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Purchase Feed Lookback</label>
                    <comment><![CDATA[Number of days back to begin looking for orders.]]></comment>
                    <depends>
                        <field id="enable_purchase_feed">1</field>
                    </depends>
                </field>
                <field id="triggering_event" translate="label" type="select" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Purchase Feed Triggering Event</label>
                    <source_model>Bazaarvoice\Connector\Model\Source\Trigger</source_model>
                    <comment><![CDATA[This determines whether to use the purchase date or ship date when calculating which purchases to include in the purchase feed.]]></comment>
                    <depends>
                        <field id="enable_purchase_feed">1</field>
                    </depends>
                </field>
                <field id="run_pie" translate="button_label" type="button" sortOrder="290" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label/>
                    <button_label><![CDATA[Run Bazaarvoice Purchase Feed Now]]></button_label>
                    <button_url>*/bvfeed/runpurchase</button_url>
                    <frontend_model>Bazaarvoice\Connector\Block\System\Config\Button</frontend_model>
                    <comment><![CDATA[<strong>WARNING Do not run in production until emails have been tested.</strong>]]></comment>
                    <depends>
                        <field id="enable_purchase_feed">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
