<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../vendor/magento/module-store/etc/config.xsd">
    <default>
        <bazaarvoice>
            <rr>
                <enable_rr>1</enable_rr>
                <inline_ratings>category,search</inline_ratings>
            </rr>
            <qa>
                <enable_qa>1</enable_qa>
            </qa>
            <feeds>
                <triggering_event>purchase</triggering_event>
                <generation_scope>website</generation_scope>
            </feeds>
        </bazaarvoice>
    </default>
</config>