<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../vendor/magento/module-config/etc/system_file.xsd">
    <system>
        <section id="bazaarvoice" translate="label" type="text" sortOrder="1800" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Bazaarvoice Connector</label>
            <tab>general</tab>
            <!-- resource tag name which we have to defined in the acl.xml -->
            <resource>Bazaarvoice_Connector::config_bazaarvoice</resource>
            
            <group id="general" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable_bv" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Bazaarvoice Extension</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Enable all Bazaarvoice Magento extension features at this Magento Scope]]></comment>
                </field>
                <field id="environment" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Environment</label>
                    <source_model>Bazaarvoice\Connector\Model\Source\Environment</source_model>
                </field>
                <field id="client_name" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Name</label>
                    <comment><![CDATA[Client Name as defined in your BV platform account]]></comment>
                </field>
                <field id="deployment_zone" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Deployment Zone</label>
                    <comment><![CDATA[Deployment Zone Name as defined in your BV platform account]]></comment>
                </field>
                <field id="locale" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Locale</label>
                    <comment><![CDATA[The BV locale for this Magento Configuration Scope.  For example: "en_US".  The locale must be enabled within your BV platform account.]]></comment>
                </field>
                <field id="enable_cloud_seo" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Cloud SEO</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Turn on the BV SEO solution.  This will include SEO-friendly content (located in the BV SEO cloud) in your product pages.  See documentation for additional steps that must be completed for this feature to take effect.]]></comment>
                </field>
                <field id="cloud_seo_key" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">    
                    <label>Cloud SEO Key</label>
                    <comment><![CDATA[SEO Cloud key value as defined in your BV platform account.  This key is only required if Cloud SEO is enabled.]]></comment>
                </field>
                <field id="enable_roibeacon" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">    
                    <label>Enable ROI Beacon</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Turn on the BV ROI beacon tag on the purchase transaction (checkout) page.  See documentation for additional steps that must be completed for this feature to take effect.]]></comment>
                </field>
                <field id="families" translate="label" type="select" sortOrder="35" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable BV Product Families</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[BV Product Families will be defined for visible Configurable and Simple product combinations]]></comment>
                </field>
            </group>
            <group id="rr" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Ratings and Reviews</label>
                <field id="enable_rr" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Ratings &amp; Reviews</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Turn on BV Ratings &amp; Reviews. This will enable display of R&amp;R content on your product pages.  See documentation for additional steps that must be completed for this feature to take effect.]]></comment>
                </field>
                <field id="container" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Submission Container Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Turn on BV submission container page.]]></comment>
                </field>
                <field id="do_show_content_js" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>JS Callback function to display R&amp;R content (doShowContent)</label>
                    <comment><![CDATA[The Bazaarvoice doShowContent javascript callback is triggered when the "read all reviews" link in the review summary is clicked.
                        You may provide code here that you wish to execute on said click event.  For example, you may want to activate a specific tab on the page.  This
                    code will be wrapped in a javascript function(){...} block. See your Bazaarvoice Implementation manual for further information.]]></comment>
                </field>
                <field id="inline_ratings" translate="label" type="multiselect" sortOrder="30" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Enable Hosted Inline Ratings</label>
                    <source_model>Bazaarvoice\Connector\Model\Source\ProductList</source_model>
                    <comment><![CDATA[Turn on BV Hosted inline ratings. This will enable display of product rating statistics in various store areas.  See documentation for additional steps that must be completed for this feature to take effect.]]></comment>
                </field>
            </group>
            <group id="qa" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Questions and Answers</label>
                <field id="enable_qa" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Questions &amp; Answers</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Turn on BV Questions &amp; Answers. This will enable display of Q&amp;A content on your product pages.  See documentation for additional steps that must be completed for this feature to take effect.]]></comment>
                </field>
                <field id="do_show_content_js" translate="label" type="textarea" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>JS Callback function to display Q&amp;A content (doShowContent)</label>
                    <comment><![CDATA[The Bazaarvoice doShowContent javascript callback is triggered when the "read all Q&amp;A" link in the question/answer summary is clicked.
                        You may provide code here that you wish to execute on said click event.  For example, you may want to activate a specific tab on the page.  This
                    code will be wrapped in a javascript function(){...} block. See your Bazaarvoice Implementation manual for further information.]]></comment>
                </field>
            </group>

            <group id="feeds" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Feeds</label>
                <field id="enable_product_feed" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Product Feed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Turn on Product Feed generation. This will enable generation of a product feed to be sent to the BV SFTP server.  See documentation for additional steps to setup a scheduled job in Magento for this feature to take effect.]]></comment>
                </field>
                <field id="generation_scope" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Feed Generation Scope</label>
                    <source_model>Bazaarvoice\Connector\Model\Source\Scope</source_model>
                    <comment><![CDATA[This determines whether separate feed files will be generated and sent to BV for each website, store or store view.]]></comment>
                </field>
                <field id="sftp_username" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SFTP Username</label>
                    <comment><![CDATA[SFTP Connection Username. If this is left blank, the above Client Name will be used.]]></comment>
                </field>
                <field id="sftp_password" translate="label" type="password" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SFTP Password</label>
                    <comment><![CDATA[Password used to access the BV SFTP server for feed upload/download processes.]]></comment>
                </field>
                <field id="sftp_host_name" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SFTP Host Name</label>
                    <source_model>Bazaarvoice\Connector\Model\Source\SftpHost</source_model>
                    <comment><![CDATA[SFTP Connection Host. ]]></comment>
                </field>
                <field id="product_filename" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Feed Filename</label>
                </field>
                <field id="product_path" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Feed Export Path</label>
                </field>
                <field id="brand_code" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Brand Attribute</label>
                    <source_model>Bazaarvoice\Connector\Model\Source\ProductAttribute</source_model>
                    <comment><![CDATA[This attribute code will be used to locate the brand of products which are sent in the product feed.]]></comment>
                </field>
                <field id="upc_code" translate="label" type="select" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>UPC Attribute</label>
                    <source_model>Bazaarvoice\Connector\Model\Source\ProductAttribute</source_model>
                    <comment><![CDATA[This attribute code will be used to locate the UPC of products which are sent in the product feed.]]></comment>
                </field>
                <field id="ean_code" translate="label" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>EAN Attribute</label>
                    <source_model>Bazaarvoice\Connector\Model\Source\ProductAttribute</source_model>
                    <comment><![CDATA[This attribute code will be used to locate the EAN of products which are sent in the product feed.]]></comment>
                </field>
                <field id="mpn_code" translate="label" type="select" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Manufacturer Part Number Attribute</label>
                    <source_model>Bazaarvoice\Connector\Model\Source\ProductAttribute</source_model>
                    <comment><![CDATA[This attribute code will be used to locate the Manufacturer Part Number of products which are sent in the product feed.]]></comment>
                </field>
                <field id="isbn_code" translate="label" type="select" sortOrder="165" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>ISBN Attribute</label>
                    <source_model>Bazaarvoice\Connector\Model\Source\ProductAttribute</source_model>
                    <comment><![CDATA[This attribute code will be used to locate the ISBN of products which are sent in the product feed.]]></comment>
                </field>
                <field id="bvfamilies_expand" translate="label" type="select" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Expand Families in Product Feed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Setting to determine whether simple products show reviews and ratings for their entire product family.]]></comment>
                </field>
                <field id="category_id_use_url_path" translate="label" type="select" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use category URL path as category id</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[If true, use Magento category URL path as category id, otherwise use Mage category entity primary key.]]></comment>
                </field>

                <field id="enable_purchase_feed" translate="label" type="select" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Purchase Feed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Turn on Purchase Feed generation. This will enable generation of a purchase feed to be sent to the BV SFTP server to be used to send post-interaction emails to your customers in order to solicit review submission.  See documentation for additional steps to setup a scheduled job for this feature to take effect.]]></comment>
                </field>
                <field id="lookback" translate="label" type="text" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Purchase Feed Lookback</label>
                    <comment><![CDATA[Number of days back to begin looking for orders.]]></comment>
                </field>
                <field id="triggering_event" translate="label" type="select" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Purchase Feed Triggering Event</label>
                    <source_model>Bazaarvoice\Connector\Model\Source\Trigger</source_model>
                    <comment><![CDATA[This determines whether to use the purchase date or ship date when calculating which purchases to include in the purchase feed.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>