<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="bazaarvoice" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Bazaarvoice Connector</label>
            <tab>catalog</tab>
            <!-- resource tag name which we have to defined in the acl.xml -->
            <resource>Bazaarvoice_Connector::config_bazaarvoice</resource>
            
            <group id="general" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable_bv" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Bazaarvoice Extension</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Enable all Bazaarvoice Magento extension features at this Magento Scope]]></comment>
                </field>
                <field id="environment" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Environment</label>
                    <source_model>Bazaarvoice\Connector\Model\Source\Environment</source_model>
                </field>
                <field id="client_name" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Name</label>
                    <comment><![CDATA[Client Name as defined in your BV platform account]]></comment>
                </field>
                <field id="sftp_password" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SFTP Password</label>
                    <comment><![CDATA[Password used to access the BV SFTP server for feed upload/download processes.]]></comment>
                </field>
                <field id="deployment_zone" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Deployment Zone</label>
                    <comment><![CDATA[Deployment Zone Name as defined in your BV platform account]]></comment>
                </field>
                <field id="locale" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Locale</label>
                    <comment><![CDATA[The BV locale for this Magento Configuration Scope.  For example: "en_US".  The locale must be enabled within your BV platform account.]]></comment>
                </field>
                <field id="enable_cloud_seo" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Cloud SEO</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Turn on the BV SEO solution.  This will include SEO-friendly content (located in the BV SEO cloud) in your product pages.  See documentation for additional steps that must be completed for this feature to take effect.]]></comment>
                    
                </field>
                <field id="cloud_seo_key" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">    
                    <label>Cloud SEO Key</label>
                    <comment><![CDATA[SEO Cloud key value as defined in your BV platform account.  This key is only required if Cloud SEO is enabled.]]></comment>
                </field>
                <field id="enable_roibeacon" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">    
                    <label>Enable ROI Beacon</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Turn on the BV ROI beacon tag on the purchase transaction (checkout) page.  See documentation for additional steps that must be completed for this feature to take effect.]]></comment>
                </field>
            </group>
            <group id="feeds" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Feeds</label>
                <field id="enable_product_feed" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Product Feed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Turn on Product Feed generation. This will enable generation of a product feed to be sent to the BV SFTP server.  See documentation for additional steps to setup a scheduled job in Magento for this feature to take effect.]]></comment>
                </field>
                <field id="enable_purchase_feed" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Product Feed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Turn on Purchase Feed generation. This will enable generation of a purchase feed to be sent to the BV SFTP server to be used to send post-interaction emails to your customers in order to solicit review submission.  See documentation for additional steps to setup a scheduled job for this feature to take effect.]]></comment>
                </field>
            </group>                    
        </section>
    </system>
</config>